---
name: Validate Configs Action Test
on:
  push:
    branches:
      - main
  pull_request:
jobs:
  run-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Test Defaults
        uses: kehoecj/validate-configs-action
        with:
          exclude-dirs: failing
          search-paths: test/good.ini test/good.json test/good.toml test/good.xml test/good.yaml

